:root {
  --cyberPink: #f0f;
  --connectBlue: rgb(0, 200, 255);
  --disableBlue: rgba(0, 75, 120, 0.5);
  --punkBlue: #104;
}

.landing-page {
  align-items: center;
  background-image: linear-gradient(var(--punkBlue) 20%, 70%, var(--cyberPink) 90%);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.cover-blur {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #fff5;
  height: 100vh;
  display: none;
  visibility: hidden;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1920px;
  padding: 5px;
  width: 80%;
}

.catch-card {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image:
  radial-gradient(
    75% 95%,
    rgba(255, 255, 255, 0.05) 60%,
    rgb(255, 255, 255, 0.5) 100%
    );
  border: 1px outset rgba(200, 200, 200, 0.5);
  border-radius: 1vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  height: calc(16 * 2vw);
  max-height: 720px;
  max-width: 405px;
  min-height: 144px;
  min-width: 81px;
  transition: width 2s, height 2s, transform 0.35s ease-out;
  width: calc(9 * 2vw);
}

.catch-card__ornament-0 {
  -webkit-mask: url("../images/card/circuits_0.svg") no-repeat left;
  background-color: var(--disableBlue);
  mask: url("../images/card/circuits_0.svg") no-repeat left;
  margin-top: 4%;
  margin-left: 2%;
  min-height: 96%;
  min-width: 96%;
  position: absolute;
}

.catch-card:hover.card-canhover {
  transform: translateY(-4vh);
}

.catch-card:hover.card-canhover .catch-card__ornament-0 {
  background-color: var(--connectBlue);
}

.card-catched {
  border-style: outset outset outset outset;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px 8px 5px 1px;
  transform: rotateX(68deg) rotateZ(60deg) translateZ(-40vh);
  transition-duration: 2.5s;
  transition-timing-function: ease-in-out;
  z-index: 2;
}

.card-catched .catch-card__ornament-0 {
  background-image: repeating-conic-gradient(
    from -0deg,
    var(--connectBlue) 48%,
    var(--connectBlue) 49%,
    white 50%,
    var(--connectBlue) 51%,
    var(--connectBlue) 52%
  );
  animation: connectHover 0.2s infinite;
}

@keyframes connectHover {
  from {
    background-image: repeating-conic-gradient(
      from 0deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  20% {
    background-image: repeating-conic-gradient(
      from 3deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  40% {
    background-image: repeating-conic-gradient(
      from 6deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  60% {
    background-image: repeating-conic-gradient(
      from 9deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  80% {
    background-image: repeating-conic-gradient(
      from 12deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  to {
    background-image: repeating-conic-gradient(
      from 0deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
}

@media screen and (max-width: 420px) {
  .card-container {
    width: 95%;
  }
}
