@import "./colors/index.css";
/* @import "./holoCover/index.css"; */

body {
  overflow: hidden;
}

.landing-page {
  align-items: center;
  background-image: linear-gradient(var(--cyberPink) 10%, 20%, var(--punkBlue) 80%);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1920px;
  padding: 5px;
  width: 80%;
}

.catch-card {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image:
  radial-gradient(
    75% 95%,
    rgba(255, 255, 255, 0.05) 60%,
    rgb(255, 255, 255, 0.5) 100%
    );
  border: 1px outset rgba(200, 200, 200, 0.5);
  border-radius: 1vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  height: calc(16 * 2vw);
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  max-height: 720px;
  max-width: 405px;
  min-height: 144px;
  min-width: 81px;
  transition: width 2s, height 2s, transform 0.35s ease-out;
  width: calc(9 * 2vw);
}

.catch-card__ornament-0 {
  -webkit-mask: url("../images/card/circuits_0.svg") no-repeat left;
  background-color: var(--disableBlue);
  mask: url("../images/card/circuits_0.svg") no-repeat left;
  margin-top: 4%;
  margin-left: 2%;
  min-height: 96%;
  min-width: 96%;
  position: absolute;
}

.catch-card:hover.card-canhover {
  transform: translateY(-4vh);
}

.catch-card:hover.card-canhover .catch-card__ornament-0 {
  background-color: var(--connectBlue);
}

.card-catched {
  border-style: outset outset outset outset;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px 8px 5px 1px;
  transform:
    rotateX(68deg)
    rotateZ(60deg)
    translateZ(-44vh);
  transition-duration: 2.5s;
  transition-timing-function: ease-in-out;
}

.card-catched .catch-card__ornament-0 {
  background-image: repeating-conic-gradient(
    from -0deg,
    var(--connectBlue) 48%,
    var(--connectBlue) 49%,
    white 50%,
    var(--connectBlue) 51%,
    var(--connectBlue) 52%
  );
  animation: connectHover 0.2s infinite;
}

@keyframes connectHover {
  from {
    background-image: repeating-conic-gradient(
      from 0deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  20% {
    background-image: repeating-conic-gradient(
      from 3deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  40% {
    background-image: repeating-conic-gradient(
      from 6deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  60% {
    background-image: repeating-conic-gradient(
      from 9deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  80% {
    background-image: repeating-conic-gradient(
      from 12deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
  to {
    background-image: repeating-conic-gradient(
      from 0deg,
      var(--connectBlue) 48%,
      49%,
      white 50%,
      51%,
      var(--connectBlue) 53%
    );
  }
}

.hologram-conteiner {
  height: 50vh;
  overflow: hidden;
  position: absolute;
  top: 40vh;
  width: 100vw;
}

.hologram_top {
  background-image: conic-gradient(
    from 45deg,
    #0000 75%,
    var(--hologramBlue) 76%,
    var(--hologramOther),
    var(--hologramBlue) 80%,
    var(--hologramOther),
    var(--hologramBlue) 84%,
    var(--hologramOther),
    var(--hologramBlue) 88%,
    var(--hologramOther),
    var(--hologramBlue) 92%,
    var(--hologramOther),
    var(--hologramBlue) 99%,
    #0000 100%
  );
  border-radius: 15%;
  height: 300%;
  mask-image: radial-gradient(#000, 30%, #0000 80%);
  position: absolute;
  scale: 1.5 0.5;
  top: -50%;
  visibility: hidden;
  width: 100%;
}

.hologram-active {
  visibility: visible;
  animation:
    hologramAppear 3.5s cubic-bezier(1,0,1,0),
    hologramLoop 1s infinite linear;
}

@keyframes hologramAppear {
  0% {
    background-image: conic-gradient(
      from 45deg,
      #0000 75%,
      var(--hologramBlue) 76%,
      #0000,
      var(--hologramBlue) 80%,
      #0000,
      var(--hologramBlue) 84%,
      #0000,
      var(--hologramBlue) 88%,
      #0000,
      var(--hologramBlue) 92%,
      #0000,
      var(--hologramBlue) 99%,
      #0000 100%
    );
    mask-image: radial-gradient(#000, 1%, #0000 80%);
    scale: 0 0;
  }
  50% {
    scale: 0.01 1;
  }

  100% {
    scale: 1 0.5;
  }
}

@keyframes hologramLoop {
  0% {
    background-image: conic-gradient(
    from 45deg,
    #0000 75%,
    var(--hologramOther),
    var(--hologramBlue) 75%,
    var(--hologramOther),
    var(--hologramBlue) 77%,
    var(--hologramOther),
    var(--hologramBlue) 79%,
    #0000 100%
  );
  mask-image: radial-gradient(#000, 40%, #0000 55%);
  }

  10% {
    background-image: conic-gradient(
    from 45deg,
    #0000 75%,
    var(--hologramOther),
    var(--hologramBlue) 76%,
    var(--hologramOther),
    var(--hologramBlue) 78%,
    var(--hologramOther),
    var(--hologramBlue) 80%,
    #0000 100%
  );
  mask-image: radial-gradient(#000, 40%, #0000 55%);
  }


  25% {
    background-image: conic-gradient(
      from 45deg,
      #0000 75%,
      var(--hologramBlue) 77%,
      var(--hologramOther),
      var(--hologramBlue) 80%,
      var(--hologramOther),
      var(--hologramBlue) 83%,
      var(--hologramOther),
      var(--hologramBlue) 86%,
      #0000 100%
    );
    mask-image: radial-gradient(#000, 40%, #0000 55%);
  }

  35% {
    background-image: conic-gradient(
      from 45deg,
      #0000 75%,
      var(--hologramBlue) 82%,
      var(--hologramOther),
      var(--hologramBlue) 86%,
      var(--hologramOther),
      var(--hologramBlue) 90%,
      var(--hologramOther),
      var(--hologramBlue) 94%,
      #0000 100%
    );
    mask-image: radial-gradient(#000, 40%, #0000 55%);
  }

  50% {
    background-image: conic-gradient(
      from 45deg,
      #0000 75%,
      var(--hologramBlue) 88%,
      var(--hologramOther),
      var(--hologramBlue) 94%,
      var(--hologramOther),
      var(--hologramBlue) 100%,
      var(--hologramOther),
      #0000 100%
    );
      mask-image: radial-gradient(#000, 40%, #0000 55%);
  }

  60% {
    background-image: conic-gradient(
      from 45deg,
      #0000 75%,
      var(--hologramBlue) 87%,
      var(--hologramOtherDarker),
      var(--hologramBlue) 91%,
      var(--hologramOtherDarker),
      var(--hologramBlue) 95%,
      var(--hologramOtherDarker),
      #0000 100%
    );
    mask-image: radial-gradient(#000, 40%, #0000 55%);
  }

  75% {
    background-image: conic-gradient(
      from 45deg,
      #0000 75%,
      var(--hologramBlue) 84%,
      var(--hologramOtherDarker),
      var(--hologramBlue) 88%,
      var(--hologramOtherDarker),
      var(--hologramBlue) 92%,
      var(--hologramOtherDarker),
      #0000 100%
    );
      mask-image: radial-gradient(#000, 40%, #0000 55%);
  }

  85% {
    background-image: conic-gradient(
      from 45deg,
      #0000 75%,
      var(--hologramBlue) 80%,
      var(--hologramOtherDarker),
      var(--hologramBlue) 85%,
      var(--hologramOtherDarker),
      var(--hologramBlue) 89%,
      var(--hologramOtherDarker),
      var(--hologramBlue) 92%,
      #0000 100%
    );
      mask-image: radial-gradient(#000, 40%, #0000 55%);
  }

  100% {
    background-image: conic-gradient(
      from 45deg,
      #0000 75%,
      var(--hologramOtherDarker),
      var(--hologramBlue) 80%,
      var(--hologramOtherDarker),
      var(--hologramBlue) 83%,
      var(--hologramOtherDarker),
      var(--hologramBlue) 87%,
      #0000 100%
    );
      mask-image: radial-gradient(#000, 40%, #0000 55%);
  }
}

@media screen and (max-width: 420px) {
  .card-container {
    width: 95%;
  }
}
