@font-face {
  font-family: abduction2002;
  src: url("../fonts/abduction_2002/abduction2002.ttf");
}

@font-face {
  font-family: dsdigital;
  src: url("../fonts/ds_digital/DS-DIGI.TTF");
}

@font-face {
  font-family: F25_Bank_Printer;
  src: url("../fonts/f25_bank_printer/F25_Bank_Printer.ttf")
}

.c-holocontent {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  height: 100%;
  width: 75%;
}

.c-holocontent header {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.c-holocontent main {
  color: white;
  font-family: F25_Bank_Printer;
  font-size: calc(0.4vw + 1.4vh);
  text-align: justify;
  text-shadow: 2px 2px 2px #f0fd;
}

.c-holocontent footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}