.c-redir__portfolio {
  position: absolute;
}

.c-redir__portfolio.m-disabled {
  display: none;
}

.c-redir__portfolio a {
  color: var(--connectBlue);
  font-size: calc(2vw + 2vh);
  font-family: "3DIso";
  text-shadow: 2px 2px 0 var(--cyberPink);
  text-decoration: none;
}
